
body {background-color:#564D4a;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
}



/*Class Styles*/
.header {
         background-color: #f24333;
         background: -webkit-linear-gradient(#f24333, #564D4a); 
         background: -o-linear-gradient(#f24333, #564D4a); 
         background: -moz-linear-gradient(#f24333, #564D4a); 
         background: linear-gradient(#f24333, #564D4a);
         height:150px;
         width:100%;
         position: fixed;
         top: 0;
         left: 0;
        
}

.section {background-color:#f7f4f3;
          height: 600px;
          width: 90%;
          position: fixed;
          top:250px;
          left: 5%;
          border-radius: 10%;
          box-shadow: #ba1b1d 5px 5px;
}

.searchNav {
    background-color: #f24333;
    position: fixed;
    width: 100%;
    height: 50px;
    top:0px;
    left:-1px;
}
.userBar{
    background-color:#f7f4f3;
    height:500px;
    position:fixed;
    top:100px;
    left:-10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black; 
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.42);
    padding: 50px 15px 0 25px;
}
.createPost{
    position:absolute;
    background-color:white;
    top:200px;
    left:250px;
}

.newsFeed{
    position:absolute;
    top: 500px;
    right: 250px;
}

.userFeed{
    position: absolute;
    height: 100%;
    top: 200px;
    left: 400px;
    width:500px;
    
}

.story {
    background-color:#f7f4f3;
    height:100px;
    width:500px;
    margin: 50px;
    border: 2px ridge #f24333 ;
    border-radius: 5px;
}

.editInformation
{
    position: absolute;
    top:50px;

}


/*ID Styles*/

#loginForm {background-color: #f7f4f3;
            position: fixed;
            top: 25px;
            right: 100px;
            border-radius: 10px;
            padding:10px;
}
#login { width:50px;
         padding: 6px;            
         border: 1px solid #ccc;
         border-radius: 3px;}

#signUpForm{
              height: 100%;
              width: 450px;
              position: absolute;
              top: 50px;
              right:0;


}

#signUpFirstName{ width:150px;
                  position: fixed;
                  padding:5px;
}
#signUpLastName { width:150px;
                  position: absolute;                  
                  right: 135px;
                  padding:5px;
}
#signUpEmail { width:315px;
               position:fixed;
               top:425px;
               padding: 5px;
}
#signUpPassword { width:315px;
                  position:fixed;
                  top:470px;
                  padding:5px;
}
#signUpBirthdate { width: 315px;
                         position: fixed;
                         top: 515px;
                         padding: 5px;
}
#signUpGenderList { width:150px;
                    position: fixed;
                    top: 560px;
}
#signUp{ width:150px;
         padding: 6px;
         position:absolute;
         top: 258px;
         right: 135px;
         border: 1px solid #ccc;
         border-radius: 3px;
         

}

#SearchBar{
    position: absolute;
    top: 12px;
    left: 250px;
}
#SearchButton{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position: absolute;
    top: 12px;
    left: 400px;    
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f7f4f3;
    display: inline-block;

}

#navigation{
    position:absolute;
    top: 12px;
    right: 250px;
}
#navigation a { 
    text-decoration: none;
    padding: 5px;
    color: white;
}

#navigation a:hover{
    background-color: #d52717;
} 

#welcomeMessage{

}

#makeForumPost{
    position: fixed;
    top: 100px;
    left: 250px;
    height:100px;
    width: 500px;
    border:none;
    border-top-left-radius: 10px;
    overflow: auto;
    
}
#postButton{
    background-color:#f24333;
    position: fixed;
    left: 250px;
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
}

#newsfeed{
    position:fixed;
    top:0;
    left:0;
}

/*Input Styles*/
input[type=text],select {
    background-color: #f7f4f3;
    padding: 5px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline:none;
}