body {background-color:#564D4a;}

/*Class Styles*/
.header {background-color:#f24333;
         height:150px;
         width:100%;
         position: fixed;
         top: 0;
         left: 0;
         box-shadow: #5b2333 0px 5px;
}

.section {background-color:#f7f4f3;
          height: 600px;
          width: 90%;
          position: fixed;
          top:250px;
          left: 5%;
          border-radius: 10%;
          box-shadow: #ba1b1d 5px 5px;
}

/*ID Styles*/

#loginForm {background-color: white;
            height: 50px;
            width: 500px;
            position: fixed;
            top: 25px;
            right: 100px;
}

#signUpForm{
              height: 100%;
              width: 45%;
              position: fixed;
              top: 0px;
              left: 15%;

}